<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <img
      href="/"
      width="50"
      alt="InstaLand Logo"
      src="assets/img/dubai-white.png"
    />
    <a class ="logo" style="text-decoration:none" href="/">InstaLand</a>
    <span class="spacer"></span>
    <!-- <a *ngIf="(userIsLogged | async)">welcome,</a>  -->
    <a mat-stroked-button routerLink="/">Landmarks</a>
    <a *ngIf="!(userIsLogged | async)" mat-raised-button color="basic" routerLink="/login">Login</a>
    <a *ngIf="(userIsLogged | async)" mat-raised-button color="basic" (click)="onLogout()" >Logout</a>
  </mat-toolbar-row>
</mat-toolbar>


<!-- <p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p> -->
