<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <img
      href="/"
      width="50"
      alt="InstaLand Logo"
      src="assets/img/dubai-white.png"
    />
    <a class ="logo" style="text-decoration:none" href="/">InstaLand</a>
    <span class="spacer"></span>
    <!-- <a *ngIf="(userIsLogged | async)">welcome,</a>  -->
    <a mat-stroked-button href="/">Landmarks</a>
    <a *ngIf="!(userIsLogged | async)" mat-raised-button color="basic" routerLink="/login">Login</a>
    <a *ngIf="(userIsLogged | async)" mat-raised-button color="basic" (click)="onLogout()" >Logout</a>
  </mat-toolbar-row>
</mat-toolbar>

