<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <img
      href="/"
      width="50"
      alt="InstaLand Logo"
      src="assets/img/dubai-white.png"
    />
    <a class ="logo" style="text-decoration:none" href="/">InstaLand</a>
    <span class="spacer"></span>
    <a mat-button routerLink="/">Landmarks</a>
    <a mat-button routerLink="/login">Login</a>
    <!-- <a mat-raised-button routerLink="/auth/signup" color="Warn">Signup</a> -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
