.landmark-card {
  margin: 50px auto;
  /* max-width: 450px; */
  /*max-height: 550px; */
  /* min-height: 450px; */
  text-align: center;
  padding: 30px 30px;
  background-color: whitesmoke;
  color: black;
}

.card-p {
  text-align: justify;
}

mat-card img {
  object-fit: contain;
  max-height: 250px;
  max-width: 250px;
}

a {
  text-decoration: none;
}

.a-link {
  color: rgb(40, 3, 99);
}

h2 {
  font-family: sans-serif;
  text-align: center;
}

h4 {
  font-family: sans-serif;
  text-align: center;
}
