.landmark-card {
  margin: 50px auto;
  max-width: 550px;
  max-height: 550px;
  text-align: center;
  padding: 50px 50px;
  background-color: whitesmoke;
  color: black;
}

.card-p {
  text-align: justify;
}

mat-card img {
  object-fit: contain;
  max-height: 250px;
  max-width: 250px;
}
