.landmark-card {
  margin: 50px auto;
  margin-left: auto;
  max-width: 1000px;
  text-align: center;
  padding: 50px 50px;
  background-color: whitesmoke;
  color: black;
}

agm-map {
  height: 500px;
}

.card-p {
  text-align: justify;
}

/* mat-card img { */
/* object-fit: cover;  */ /*this makes the image in src fit to the size specified below*/
/*   width: 60%;
  height: 60%; */
/*   display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto; */
/* } */

.clicked {
  border: 1px solid #b9b9b9;
}

mat-spinner {
  margin: auto;
}

.edit-sub {
  color: #f32727;
}

*[contenteditable="false"] {
  padding: 5px;
}
*[contenteditable="true"] {
  border: 2px dashed #f32727;
  border-radius: 10px;
  padding: 2.2px;
}

a {
  margin-right: 20px;
}
.logo a:hover,
a:active {
  color: lightgray;
}

.logo a:link {
  color: white;
}
